body {
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $gray-900;
  &:hover {
    color: $gray-900;
  }
}

h4,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

small {
  color: $gray-600;
  font-size: 12px;
}
